In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
##Importing the dataset

In [3]:
df =pd.read_csv('C:\\Users\\KIIT\\Desktop\\Internships\\Train_UWu5bXk (2) (1) (1) (1).csv')
dt =pd.read_csv('C:\\Users\\KIIT\\Desktop\\Internships\\Test_u94Q5KV (2) (1) (1) (1).csv')

In [7]:
##Checking for na values

In [8]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
dt.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [10]:
##Only the column of Item_Weight and Outlet_Size has Na values
#Filling the Item_Weight column with the mean of weights

In [30]:
df['Item_Weight'].fillna((df['Item_Weight'].mean()), inplace=True)
dt['Item_Weight'].fillna((df['Item_Weight'].mean()), inplace=True)
df["Outlet_Size"].fillna('Medium', inplace=True)
dt["Outlet_Size"].fillna('Medium', inplace=True)

In [17]:

df['Item_Visibility'].replace(to_replace=0.000000 , value = df['Item_Visibility'].mean(), inplace = True )

dt['Item_Visibility'].replace(to_replace=0.000000 , value = df['Item_Visibility'].mean(), inplace = True )

In [18]:
##Clearig same entries of multiple entries to single

In [19]:
df['Item_Fat_Content'].replace(to_replace='low fat' , value = 'Low Fat', inplace = True )
df['Item_Fat_Content'].replace(to_replace='LF' , value = 'Low Fat', inplace = True )
df['Item_Fat_Content'].replace(to_replace='reg' , value = 'Regular', inplace = True )

In [20]:
dt['Item_Fat_Content'].replace(to_replace='low fat' , value = 'Low Fat', inplace = True )
dt['Item_Fat_Content'].replace(to_replace='LF' , value = 'Low Fat', inplace = True )
dt['Item_Fat_Content'].replace(to_replace='reg' , value = 'Regular', inplace = True )

In [21]:
##replacing categorical variables with numbers

In [22]:
df['Item_Fat_Content'].replace(to_replace='Low Fat' , value = 1, inplace = True )
df['Item_Fat_Content'].replace(to_replace='Regular' , value = 0, inplace = True )

In [23]:
dt['Item_Fat_Content'].replace(to_replace='Low Fat' , value = 1, inplace = True )
dt['Item_Fat_Content'].replace(to_replace='Regular' , value = 0, inplace = True )

In [24]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,1,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,0,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,1,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,0,0.066132,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,1,0.066132,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [25]:
df.Item_Type.unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [31]:
le = LabelEncoder()
df['Item_Type']=le.fit_transform(df['Item_Type'])
df['Outlet_Size']=le.fit_transform(df['Outlet_Size'])
df['Outlet_Location_Type']=le.fit_transform(df['Outlet_Location_Type'])
df['Outlet_Type']=le.fit_transform(df['Outlet_Type'])
df['Outlet_Identifier']=le.fit_transform(df['Outlet_Identifier'])

In [32]:
dt['Item_Type']=le.fit_transform(dt['Item_Type'])
dt['Outlet_Size']=le.fit_transform(dt['Outlet_Size'])
dt['Outlet_Location_Type']=le.fit_transform(dt['Outlet_Location_Type'])
dt['Outlet_Type']=le.fit_transform(dt['Outlet_Type'])
dt['Outlet_Identifier']=le.fit_transform(dt['Outlet_Identifier'])

In [33]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,1,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,DRC01,5.92,0,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,FDN15,17.50,1,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,FDX07,19.20,0,0.066132,6,182.0950,0,1998,1,2,0,732.3800
4,NCD19,8.93,1,0.066132,9,53.8614,1,1987,0,2,1,994.7052

In [34]:
dt.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,1,0.007565,13,107.8622,9,1999,1,0,1
1,FDW14,8.300000,0,0.038428,4,87.3198,2,2007,1,1,1
2,NCN55,14.600000,1,0.099575,11,241.7538,0,1998,1,2,0
3,FDQ58,7.315000,1,0.015388,13,155.0340,2,2007,1,1,1
4,FDY38,12.857645,0,0.118599,4,234.2300,5,1985,1,2,3